@model Krina_FlightProject.Models.KrinaBooking



@{
    ViewData["Title"] = "FlightDetails";
}

<h1>FlightDetails</h1>

<div>
    <h4>KrinaBooking</h4>
    <hr />
    <dl class="row">
       <dt class = "col-sm-2">
            Customer Name
        </dt>
        <dd class = "col-sm-10">
          @Html.DisplayFor(model => model.CidNavigation.Fname) @Html.DisplayFor(model => model.CidNavigation.Lname)

        </dd>
         <dt class = "col-sm-2">
            Flight Name
        </dt>
        <dd class = "col-sm-10">
              @Html.DisplayFor(model => model.Flight.Flightname) 
        </dd>
        <dt class = "col-sm-2">
           Source and Departure Time
        </dt>
        <dd class = "col-sm-10">
             @Html.DisplayFor(model => model.Flight.Depart.City)  @Html.DisplayFor(model => model.Flight.DepartTime) 
        </dd>
        <dt class = "col-sm-2">
        Destination and Arrival Time
        </dt>
        <dd class = "col-sm-10">
              @Html.DisplayFor(model => model.Flight.Arrival.City)  @Html.DisplayFor(model => model.Flight.ArrivalTime) 
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bookdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bookdate)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NofPasseng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NofPasseng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
@* <div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div> *@
 <a asp-action="CustomerBooking">Back to Your Booking</a>
